@{
    ViewData["Title"] = "Strona główna";
}

<h1>System Kompletowania Zawodników</h1>

<nav>
    <ul>
        <li><a href="/Group">Zobacz grupy</a></li>
        <li><a href="/User">Lista użytkowników</a></li>
    </ul>
</nav>