<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<nav>
    <a href="/">Strona główna</a>
    <a href="/Group">Grupy</a>
    <a href="/User">Użytkownicy</a>
</nav>
    
<main>
    @RenderBody()
</main>
</body>
</html>